:root {
	--rojo: #E50914;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 18px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

#cerrar-sesion:hover{
	color: var(--rojo)
}

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
	font-size: 16px;
	min-height: 38em;
	color: #fff;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
	margin-right: 4em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	vertical-align: top;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}

	.wrap {
        width: 80%; /* Ajusta el ancho para pantallas pequeñas */
    }

    .searchTerm {
        font-size: 14px; /* Reduce el tamaño de la fuente para la barra de búsqueda */
    }

    .wrap .boton {
        width: 60px; /* Hace el botón de búsqueda un poco más grande */
        font-size: 1.2em; /* Aumenta el tamaño del icono de la lupa */
    }
}

/* ---- ----- ----- Buscar ----- ----- ----- */
/* Estilos para la barra de búsqueda */
.search {
    width: 90%; /* Ajusta el ancho de la barra de búsqueda */
    margin: auto; /* Centra la barra de búsqueda */
    display: flex;
    justify-content: center; /* Centra los elementos dentro de la barra de búsqueda */
}

.searchTerm {
    width: 80%; 
    border: 1px solid white;
    background-color: #000;
    border-right: none;
    padding: 5px;
    height: 45px;
    border-radius: 5px 0 0 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    outline: none;
    color: white;
}

.searchTerm:focus {
    color: gray;
}

/* Estilos para los resultados de búsqueda */
#search-results .search-movie {
    margin-top: 20px;
	margin: 25px;
    padding: 10px;
    background-color: black;
    color: #000;
}

#search-results .search-movie img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.search-movie {
    display: flex;
    margin-bottom: 20px;
    background-color: #121212; /* Un poco más oscuro que #141414 */
    padding: 15px; /* Agrega un poco de espacio alrededor del contenido */
    border-radius: 5px; /* Opcional, para bordes redondeados */
}

.search-movie .movie-info h3, .search-movie .movie-info p {
    color: #FFF; /* Cambia el color del texto a blanco */
}

.search-movie a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: inherit; /* Los enlaces heredarán el color del texto de su contenedor padre */
}

.search-movie a:hover {
    text-decoration: underline; /* Opcional: añade subrayado al pasar el ratón por encima para mejor interactividad */
}

.movie-image img {
    width: 150px; /* Ajusta según tus necesidades */
    height: auto;
    margin-right: 20px;
}

.movie-info {
    flex-grow: 1;
}

.movie-info h3 {
    margin-top: 0;
}

.release-date {
    font-style: italic;
    color: #888;
    margin-bottom: 10px;
}

/* Estilos para el contenedor principal */
.wrap {
    width: 100%; /* Ajusta el ancho al máximo posible */
    margin: auto; /* Asegura que el div se centre */
    position: relative; /* Mantiene la posición relativa */
    text-align: center; /* Alinea el contenido al centro */
    padding: 20px 0; /* Añade un poco de espacio arriba y abajo */
}

/* Estilos para el botón de búsqueda */
.wrap .boton {
    background: rgba(0, 0, 0, 0.5);
	border: 1px solid transparent; /* Border transparente para todos los lados */
    border-top: 1px solid white; /* Borde en la parte superior */
    border-right: 1px solid white; /* Borde en el lado derecho */
    border-bottom: 1px solid white; /* Borde en la parte inferior */
    border-radius: 0px 5px 5px 0px; /* Hace que el botón sea redondo */
    width: 50px; /* Ajusta el ancho del botón */
    height: 45px; /* Ajusta la altura del botón */
    padding: 0.93em 1em;
    color: gray;
    cursor: pointer;
    transition: .5s ease all;
    font-size: 1em;
	margin-left: -2px; /* Ajusta este valor para alinear verticalmente el botón */
}


.wrap .boton:hover {
    background: #DAD2D2;
    color: #000;
}

.wrap .boton i {
    margin-right: 1.25em;
}

/* ---- ----- ----- Pelicula individual ----- ----- ----- */
#seccion-info-pelicula {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Alinea los elementos al centro verticalmente */
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 1em auto; /* Centra horizontalmente con margen automático */
    max-width: 100%; /* Ajusta según sea necesario */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas más pequeñas */
}

.imagen-contenedor {
    flex: 1; /* Asigna flexibilidad al contenedor de la imagen */
    max-width: 28%; /* Máximo ancho del contenedor de la imagen */
    padding: 20px; /* Espacio alrededor del contenedor de la imagen */
}

.imagen-izquierda {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.texto-contenedor {
    flex: 1; /* Asigna flexibilidad al contenedor de texto */
    max-width: 100%; /* Máximo ancho del contenedor de texto */
    padding: 20px; /* Espacio alrededor del contenedor de texto */
}

.texto-contenedor .descripcion {
    max-width: 100%;
}


.info-horizontal {
    display: flex; /* Alinea los elementos horizontalmente */
    justify-content: space-around; /* Distribuye el espacio alrededor de los elementos */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas más pequeñas */
	margin-bottom: 2em;
}

.info-grupo {
    display: flex; /* Alinea los elementos del grupo horizontalmente */
    flex-direction: column; /* Alinea los elementos del grupo verticalmente */
    align-items: center; /* Alinea los elementos del grupo en el centro */
    margin: 1em,; /* Espacio alrededor de cada grupo */
}

.info-grupo h2 {
    margin-bottom: 5px; /* Espacio entre el título y el párrafo */
}